// reset
/*Reset*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; // Corregir "0" a "border-box"
}

// estilos generales
/* estilos generales */

// logo principal
/*logo principal*/
.logo-principal {
    background-color: white;
    display: inline-block;
    white-space: nowrap;
    width: 100%;
    height: auto;
    text-align: center;
}

// index
/* index*/
body {
    background-image: url(../img/FoNDo.jpeg);
    background-size: cover;
    text-align: center;
}

header {
    nav {
        ul {
            li {
                padding-left: 10px;
                display: inline;

                a {
                    text-decoration: none;
                }
            }
        }
    }

    .logo {
        text-align: center;
    }
}

main {
    text-align: center;

    .yo1 {
        width: 450px;
        height: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

footer {
    text-align: center;
}

// sobre mi
/*sobre mi*/
main {
    p {
        a {
            text-decoration: none;
        }
    }

    .image-container {
        display: inline;

        img {
            margin-right: 50px;
            width: 450px;
            height: 450px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
    }
}

// resume
/*resume */
main {
    .costa1 {
        width: 450px;
        height: 450px;
        margin-bottom: 20px;
        margin-right: 10px;
    }

    .texto1 {
        display: inline-block;
        text-align: center;
    }

    .familia {
        width: 450px;
        height: 450px;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .texto2 {
        display: inline-block;
    }
}

// experiencia
/* experiencia */
main {
    .experiencia {
        width: 350px;
        height: 400px;
        margin-bottom: 15px;
        margin-top: 20px;
        margin-left: 20px;
    }
}

// contacto
/*contacto */
main {
    .contacto {
        width: 500px;
        height: 250px;
        margin-top: 15px;
    }
}

// Estilos generales para dispositivos móviles y de escritorio
/*Estilos generales para dispositivos moviles y de escritorio*/
h1 {
    font-size: 24px;
}

main {
    p {
        font-size: 16px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        background-color: none;
        color: rgba(88, 36, 5, 0.87);
        text-align: center;
    }
}

// Estilos específicos para dispositivos móviles
// Arrancamos con mobile first
/*Estilos para dispositivos moviles, arrancamos*/
@media (max-width: 575.98px) {
    .navbar {
        box-shadow: none;
        background-color: white;
    }

    .navbar-collapse {
        display: flex;
        text-align: end;
    }

    .nav-link {
        font-size: 1.2rem;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;
        text-transform: uppercase;
        color: black;
    }

    .footer {
        text-align: center;
        font-size: 1rem;
        color: black;
    }

    // INICIO mobile
    /*Inicio mobile*/
    .titulo-index {
        text-align: center;
        font-size: 0.8rem;
    }

    .parrafo-index {
        text-align: center;
        font-size: 0.8rem;
    }

    // SOBREMI mobile
    /*Sobremi mobile*/
    .titulo-sobremi {
        text-align: center;
        font-size: 0.8rem;
    }

    .parrafo-sobremi {
        text-align: center;
        font-size: 0.9rem;
    }

    // RESUME mobile
    /* resume mobile */
    .titulo-resume {
        text-align: center;
        font-size: 1.2rem;
    }

    .parrafor-resume-uno {
        text-align: center;
        font-size: 0.8rem;
    }

    .parrafo-resume-dos {
        text-align: center;
        font-size: 0.8rem;
    }

    // EXPERIENCIA mobile
    /* experiencia mobile*/
    .titulo-experiencia {
        text-align: center;
        font-size: 1.2rem;
    }

    .parrafo-experiencia {
        text-align: center;
        font-size: 0.8rem;
    }

    // CONTACTO mobile
    /* contacto mobile*/
    .titulo-contacto {
        text-align: center;
        font-size: 1.2rem;
    }

    .parrafo-contacto,
    .parrafo-contacto-uno,
    .parrafo-contacto-dos,
    .parrafo-contacto-tres {
        text-align: center;
        font-size: 0.8rem;
    }
}