//Reset
/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

//Estilos Generales
/*Estilo generales*/
header{
    logo-principal{
        background-color: white;
        display: inline-block;
        white-space: nowrap;
        width: 100%;
        height: auto;
        text-align: center;
    }
    nav{
        padding-left: 10px;
        display: inline;
        text-decoration: none;
    }
    image-container img{
        display: block;
        margin-right: 50px;
        width: 450px;
        height: 450px;
        margin-top: 20px;
        margin-bottom: 20px;
    }


}
body{
    /* background-image:url(../img/FoNDo.jpeg); - Prueba sin imagen de fondo*/
    background-size: cover;
    text-align: center;
}
